@{
    ViewBag.Title = "DeleteFailure";
    Layout = "~/Views/Rewards/_LayoutRewards.cshtml";
}

<h2>DeleteFailure</h2>

<h3>@ViewBag.Message</h3>
<div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
